<a href="https://colab.research.google.com/github/aprendizajecifuentes/Google_Colab_Ejercisios/blob/main/Conversi%C3%B3n_num%C3%A9rica_y_errores_NaN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conversión de Columnas Numéricas con Manejo de Errores**

Se convertira los numero string a numero y los que generen error y no se conviertan sera remplazados por **NaN**



Objetivo del ejercicio:

- Cargar los datos desde el archivo datos_conversion.csv en un DataFrame de pandas.
- Convertir las columnas "Ventas" y "Precio Unitario" a valores numéricos utilizando pd.to_numeric().
- Reemplazar los valores no convertibles (errores) con NaN.
- Mostrar las primeras 10 filas del DataFrame resultante para verificar los cambios.

In [ ]:
#1. Cargar los datos desde el archivo datos_conversion.csv en un DataFrame de pandas.
import pandas as pd

df = pd.read_csv('datos_conversion.csv')
print(df)

    ID          Fecha    Producto  Ventas Precio Unitario     Total
0    1     2023-01-01  Smartphone    10.0           Error  24765.97
1    2     2023-01-01     Teclado    50.0          1000.5  17730.96
2    3     15-03-2023     Teclado   100.0          1000.5  36384.09
3    4     2023/06/10     Teclado     NaN          750.25  39676.04
4    5     2023-02-15       Mouse    50.0           Error  39671.15
..  ..            ...         ...     ...             ...       ...
65  66     2023-02-15  Smartphone   100.0          1000.5  36147.46
66  67  April 5, 2023     Monitor   100.0          750.25  27388.75
67  68  April 5, 2023      Tablet     NaN          1000.5  30323.06
68  69     15-03-2023  Smartphone    50.0            1250   9184.96
69  70     15-03-2023      Laptop    10.0         2000.99   8167.85

[70 rows x 6 columns]

In [ ]:
#2. Convertir las columnas "Ventas" y "Precio Unitario" a valores numéricos utilizando pd.to_numeric().
#Reemplazar los valores no convertibles (errores) con NaN.
df['Ventas'] = pd.to_numeric(df['Ventas'], errors='coerce')
df['Precio Unitario'] = pd.to_numeric(df['Precio Unitario'], errors='coerce')
print(df)

    ID          Fecha    Producto  Ventas  Precio Unitario     Total
0    1     2023-01-01  Smartphone    10.0              NaN  24765.97
1    2     2023-01-01     Teclado    50.0          1000.50  17730.96
2    3     15-03-2023     Teclado   100.0          1000.50  36384.09
3    4     2023/06/10     Teclado     NaN           750.25  39676.04
4    5     2023-02-15       Mouse    50.0              NaN  39671.15
..  ..            ...         ...     ...              ...       ...
65  66     2023-02-15  Smartphone   100.0          1000.50  36147.46
66  67  April 5, 2023     Monitor   100.0           750.25  27388.75
67  68  April 5, 2023      Tablet     NaN          1000.50  30323.06
68  69     15-03-2023  Smartphone    50.0          1250.00   9184.96
69  70     15-03-2023      Laptop    10.0          2000.99   8167.85

[70 rows x 6 columns]

In [ ]:
#4. Mostrar las primeras 10 filas del DataFrame resultante para verificar los cambios.
print(df.head(10))

   ID          Fecha    Producto  Ventas  Precio Unitario     Total
0   1     2023-01-01  Smartphone    10.0              NaN  24765.97
1   2     2023-01-01     Teclado    50.0          1000.50  17730.96
2   3     15-03-2023     Teclado   100.0          1000.50  36384.09
3   4     2023/06/10     Teclado     NaN           750.25  39676.04
4   5     2023-02-15       Mouse    50.0              NaN  39671.15
5   6     15-03-2023   Impresora    50.0          1000.50  35298.68
6   7     15-03-2023  Smartphone     NaN          2000.99   3578.79
7   8     15-03-2023      Laptop     NaN          1000.50  38959.97
8   9  April 5, 2023      Laptop    35.0          1250.00  49060.32
9  10     2023-01-01      Laptop    50.0          1000.50  26667.55