<a href="https://colab.research.google.com/github/aprendizajecifuentes/Google_Colab_Ejercisios/blob/main/Corregir_formato_Fecha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

url="https://drive.google.com/uc?export=download&id=1Oeo3UjU3Si9i7rumO7_G0bY68suoiwJk"
df=pd.read_csv(url)

print("********* Datois guardados ********")
print(df.head(5))

********* Datois guardados ********
   ID       Fecha    Producto  Ventas Precio Unitario     Total
0   1  2023-01-01  Smartphone    10.0           Error  24765.97
1   2  2023-01-01     Teclado    50.0          1000.5  17730.96
2   3  15-03-2023     Teclado   100.0          1000.5  36384.09
3   4  2023/06/10     Teclado     NaN          750.25  39676.04
4   5  2023-02-15       Mouse    50.0           Error  39671.15

In [ ]:
df["Ventas"] =pd.to_numeric(df["Ventas"],errors="coerce")
df["Precio Unitario"]=pd.to_numeric(df["Precio Unitario"],errors="coerce")

print("**** tipos de datos *****")
print(df.dtypes)

**** tipos de datos *****
ID                   int64
Fecha               object
Producto            object
Ventas             float64
Precio Unitario    float64
Total              float64
dtype: object

In [ ]:

from dateutil import parser

# Función robusta para convertir fechas
def convertir_fecha(fecha):
    try:
        # Convertimos a string, limpiamos espacios, y parseamos
        return parser.parse(str(fecha).strip(), dayfirst=True)
    except:
        return pd.NaT

# Aplicar la función a la columna 'Fecha' y guardar en nueva columna
df['Fecha'] = df['Fecha'].apply(convertir_fecha)

# Formatear como 'YYYY-MM-DD' (opcional)
df['Fecha'] = df['Fecha'].dt.strftime('%Y-%m-%d')

# Mostrar resultados
print(df.head(10))

   ID       Fecha    Producto  Ventas  Precio Unitario     Total
0   1  2023-01-01  Smartphone    10.0              NaN  24765.97
1   2  2023-01-01     Teclado    50.0          1000.50  17730.96
2   3  2023-03-15     Teclado   100.0          1000.50  36384.09
3   4  2023-10-06     Teclado     NaN           750.25  39676.04
4   5  2023-02-15       Mouse    50.0              NaN  39671.15
5   6  2023-03-15   Impresora    50.0          1000.50  35298.68
6   7  2023-03-15  Smartphone     NaN          2000.99   3578.79
7   8  2023-03-15      Laptop     NaN          1000.50  38959.97
8   9  2023-04-05      Laptop    35.0          1250.00  49060.32
9  10  2023-01-01      Laptop    50.0          1000.50  26667.55

In [ ]:
print(df[df['Fecha'].isna()])

print(df.head(10))

Empty DataFrame
Columns: [ID, Fecha, Producto, Ventas, Precio Unitario, Total]
Index: []
   ID       Fecha    Producto  Ventas  Precio Unitario     Total
0   1  2023-01-01  Smartphone    10.0              NaN  24765.97
1   2  2023-01-01     Teclado    50.0          1000.50  17730.96
2   3  2023-03-15     Teclado   100.0          1000.50  36384.09
3   4  2023-10-06     Teclado     NaN           750.25  39676.04
4   5  2023-02-15       Mouse    50.0              NaN  39671.15
5   6  2023-03-15   Impresora    50.0          1000.50  35298.68
6   7  2023-03-15  Smartphone     NaN          2000.99   3578.79
7   8  2023-03-15      Laptop     NaN          1000.50  38959.97
8   9  2023-04-05      Laptop    35.0          1250.00  49060.32
9  10  2023-01-01      Laptop    50.0          1000.50  26667.55