<a href="https://colab.research.google.com/github/aprendizajecifuentes/Google_Colab_Ejercisios/blob/main/Eliminar_duplicados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# **ELIMINA DUPLICADOS**
Elimina Segun productos duplicadas o Fechas que sean iguales(Duplicadas)

**UNIDAD 8 SESION 5 EJERCISIO 1 (DUPLICADOS)**

In [ ]:
import pandas as pd

url="https://drive.google.com/uc?export=download&id=1d8ccNG7I55lMGurBiZy7pQNk78DRkQDV"
df=pd.read_csv(url)


print("\n num de filas: ",len(df))

print("\n Conteo valores nulos: ", df.isnull().sum())

#elimino filas con valores nulos
df_limpio=df.dropna()

print("filas limpias de valores nulos: ",len(df_limpio))

#se verifica que todo este limpio y reluciente
print("\n ¿aun quedan valores nulos?", df_limpio.isnull().any().any())

#identificar filas duplicadas
num_duplicadas = df_limpio.duplicated().sum()
print("num filas duplicadas: ",num_duplicadas)

#mostrar filas duplicadas
filas_duplicadas = df_limpio[df_limpio.duplicated()]
print(filas_duplicadas.sort_values(by=['Producto']))

 num de filas:  80

 Conteo valores nulos:  ID                 0
Fecha              0
Producto           0
Ventas             0
Precio Unitario    0
Total              0
Categoría          0
dtype: int64
filas limpias de valores nulos:  80

 ¿aun quedan valores nulos? False
num filas duplicadas:  10
    ID       Fecha   Producto  Ventas  Precio Unitario     Total    Categoría
72  50  2023-02-19  Impresora     167           256.73  47050.62   Accesorios
74  55  2023-02-24  Impresora     109           474.47  10818.09      Oficina
73   5  2023-01-05     Laptop      93          2048.14  49403.15  Computación
77  34  2023-02-03     Laptop     188          1654.59    674.70   Accesorios
75  19  2023-01-19    Monitor     101          1586.68  42482.88  Electrónica
76  11  2023-01-11    Monitor      80          1482.23   1051.88  Computación
71   1  2023-01-01      Mouse      39           703.42  47766.57  Electrónica
78  46  2023-02-15     Tablet     122          1358.76  17166.75      Oficina
79  13  2023-01-13     Tablet     181          2379.95  21912.44  Computación
70  23  2023-01-23    Teclado     137           822.05  13623.19  Computación

**UNIDAD 8 SESION 5
EJERCISIO 2 (ELIMINAR DUPLICADOS)**

In [ ]:
#Eliminar filas duplicadas
df_limpio_2v=df_limpio.drop_duplicates()
print(df_limpio_2v.sort_values(by=['Producto']))

#numero de filas duplicadas borradas
print("filas borradas: ",len(df_limpio_2v)-len(df_limpio))

    ID       Fecha   Producto  Ventas  Precio Unitario     Total    Categoría
24  25  2023-01-25  Impresora     107           587.59  46932.98  Computación
1    2  2023-01-02  Impresora      47          1378.23  25152.63  Computación
49  50  2023-02-19  Impresora     167           256.73  47050.62   Accesorios
6    7  2023-01-07  Impresora     181          1091.23  43294.36  Electrónica
63  64  2023-03-05  Impresora     181          2328.60  26517.90   Accesorios
..  ..         ...        ...     ...              ...       ...          ...
22  23  2023-01-23    Teclado     137           822.05  13623.19  Computación
8    9  2023-01-09    Teclado      60          1038.24  30489.46  Computación
64  65  2023-03-06    Teclado     140          1893.55  44640.68      Oficina
46  47  2023-02-16    Teclado     120           291.71  39487.68  Computación
15  16  2023-01-16    Teclado      23           193.90  45896.62   Accesorios

[70 rows x 7 columns]
filas borradas:  -10

**UNIDAD 8 SESION 5
EJERCISIO 3 (ELIMINAR DUPLICADOS SEGUN VENTAS Y PRODUCTOS)**

In [ ]:
#IDENTIFICAR DATOS DUPLICADOS SEGUN PRODUCTO Y VENTAS
duplicados_prod_ventas = df_limpio[df.duplicated(subset=['Producto', 'Ventas'], keep=False)]

print(duplicados_prod_ventas.sort_values(by=['Producto']))

#cantidad duplicados por producto y ventas
print("num filas duplicadas",len(duplicados_prod_ventas))

    ID       Fecha   Producto  Ventas  Precio Unitario     Total    Categoría
54  55  2023-02-24  Impresora     109           474.47  10818.09      Oficina
72  50  2023-02-19  Impresora     167           256.73  47050.62   Accesorios
49  50  2023-02-19  Impresora     167           256.73  47050.62   Accesorios
74  55  2023-02-24  Impresora     109           474.47  10818.09      Oficina
41  42  2023-02-11  Impresora     107           476.64   2821.88  Electrónica
63  64  2023-03-05  Impresora     181          2328.60  26517.90   Accesorios
24  25  2023-01-25  Impresora     107           587.59  46932.98  Computación
6    7  2023-01-07  Impresora     181          1091.23  43294.36  Electrónica
33  34  2023-02-03     Laptop     188          1654.59    674.70   Accesorios
77  34  2023-02-03     Laptop     188          1654.59    674.70   Accesorios
73   5  2023-01-05     Laptop      93          2048.14  49403.15  Computación
4    5  2023-01-05     Laptop      93          2048.14  49403.15  Computación
58  59  2023-02-28     Laptop      93           332.12  32949.24  Electrónica
75  19  2023-01-19    Monitor     101          1586.68  42482.88  Electrónica
18  19  2023-01-19    Monitor     101          1586.68  42482.88  Electrónica
10  11  2023-01-11    Monitor      80          1482.23   1051.88  Computación
76  11  2023-01-11    Monitor      80          1482.23   1051.88  Computación
71   1  2023-01-01      Mouse      39           703.42  47766.57  Electrónica
0    1  2023-01-01      Mouse      39           703.42  47766.57  Electrónica
55  56  2023-02-25      Mouse     123          2430.85  15519.89   Accesorios
20  21  2023-01-21      Mouse     123          2016.79  39559.72      Oficina
78  46  2023-02-15     Tablet     122          1358.76  17166.75      Oficina
45  46  2023-02-15     Tablet     122          1358.76  17166.75      Oficina
12  13  2023-01-13     Tablet     181          2379.95  21912.44  Computación
79  13  2023-01-13     Tablet     181          2379.95  21912.44  Computación
22  23  2023-01-23    Teclado     137           822.05  13623.19  Computación
70  23  2023-01-23    Teclado     137           822.05  13623.19  Computación
num filas duplicadas 27

In [ ]:
# eliminar filas duplicadas conservando precio unitario mayor
df_filtrado = df_limpio.sort_values(by="Precio Unitario", ascending=False) \
                .drop_duplicates(subset=["Producto", "Ventas"], keep="first")

print(df_filtrado.sort_values(by="Precio Unitario", ascending=False))

#Mostrar el número total de filas antes y después de la eliminación
print("\nfilas antes de eliminacion:",len(df_limpio))
print("\nfilas despues de eliminacion:",len(df_filtrado))
print("\nfilas eliminadasion:",len(df_filtrado)-len(df_limpio))

    ID       Fecha   Producto  Ventas  Precio Unitario     Total    Categoría
55  56  2023-02-25      Mouse     123          2430.85  15519.89   Accesorios
60  61  2023-03-02      Mouse      75          2429.88   4097.03   Accesorios
12  13  2023-01-13     Tablet     181          2379.95  21912.44  Computación
63  64  2023-03-05  Impresora     181          2328.60  26517.90   Accesorios
26  27  2023-01-27     Laptop     132          2291.18  20576.55      Oficina
..  ..         ...        ...     ...              ...       ...          ...
29  30  2023-01-30    Monitor     115           160.83   8691.88  Computación
7    8  2023-01-08      Mouse     139            96.92  24243.41      Oficina
19  20  2023-01-20     Laptop     105            85.59  33951.13  Computación
30  31  2023-01-31     Laptop     124            74.32  11177.52      Oficina
53  54  2023-02-23     Tablet      58            55.88  47184.11      Oficina

[66 rows x 7 columns]

filas antes de eliminacion: 80

filas despues de eliminacion: 66

filas eliminadasion: -14

**UNIDAD 8 SESION 5 EJERCISIO 4 (ELIMINAR DUPLICADOS SEGUN FECHA)**

In [ ]:
# filas duplicdas segun fecha
duplicadas_fecha = df_limpio[df.duplicated(subset='Fecha', keep=False)]
print(duplicadas_fecha.sort_values(by="Fecha").head(8))

#Eliminar solo los duplicados más recientes (última aparición),
df_sin_duplicados_fecha = df[~df.duplicated(subset='Fecha', keep='first')]
print("\nDespues de eliminar duplicados por fecha\n")
print(df_sin_duplicados_fecha.sort_values(by="Fecha").head(8))

#Mostrar el número total de filas antes y después.
print("\nfilas antes de eliminacion:",len(df_limpio))
print("\nfilas despues de eliminacion:",len(df_sin_duplicados_fecha))
print("\nfilas eliminadasion:",len(df_sin_duplicados_fecha)-len(df_limpio))

    ID       Fecha Producto  Ventas  Precio Unitario     Total    Categoría
0    1  2023-01-01    Mouse      39           703.42  47766.57  Electrónica
71   1  2023-01-01    Mouse      39           703.42  47766.57  Electrónica
4    5  2023-01-05   Laptop      93          2048.14  49403.15  Computación
73   5  2023-01-05   Laptop      93          2048.14  49403.15  Computación
10  11  2023-01-11  Monitor      80          1482.23   1051.88  Computación
76  11  2023-01-11  Monitor      80          1482.23   1051.88  Computación
79  13  2023-01-13   Tablet     181          2379.95  21912.44  Computación
12  13  2023-01-13   Tablet     181          2379.95  21912.44  Computación

Despues de eliminar duplicados por fecha

   ID       Fecha    Producto  Ventas  Precio Unitario     Total    Categoría
0   1  2023-01-01       Mouse      39           703.42  47766.57  Electrónica
1   2  2023-01-02   Impresora      47          1378.23  25152.63  Computación
2   3  2023-01-03       Mouse      40          1168.27  40565.14   Accesorios
3   4  2023-01-04      Laptop      22          1827.64   9575.11  Electrónica
4   5  2023-01-05      Laptop      93          2048.14  49403.15  Computación
5   6  2023-01-06  Smartphone     191           639.61   2982.26      Oficina
6   7  2023-01-07   Impresora     181          1091.23  43294.36  Electrónica
7   8  2023-01-08       Mouse     139            96.92  24243.41      Oficina

filas antes de eliminacion: 80

filas despues de eliminacion: 70

filas eliminadasion: -10